body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./img/fondo.jpg');
}

img {
    max-width: 100px;
    text-align:center;
    margin-bottom: -140px;
}

#timer {
    color: white;
    font-size: 30px;
}

.dimension-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dimension-buttons button {
    background: black;
    color: #fff;
    font-weight: bolder;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
}


h1{
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    margin-top: 20px;
}

.memory-card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    font-size: 24px;
    color: transparent;
}

.memory-card.flipped {
    transform: rotateY(180deg);
}

.memory-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}